body {
    background-color: rgb(240,240,240)
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 {
    color: rgb(227,11,92)
}

h1 {
    font-size: 32px;
}

h1 {
    margin: 0;
    padding-top: 1em;
}

h2 {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 0;
}
h2 {
    color: rgb(0,0,255)
}

h2 {
    font-size: 32px;
}

h3 {
    color: rgb(153,101,21)
} 

h3 {
    padding-top: 0;
    font-size: 24px;
}

table {
  width: 70%;
}

td {
  width: 100px;
  height: 80px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-bottom: 2em;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}

  .topnav {
    overflow: hidden;
    background-color: rgb(240,240,240)
  }
  
  .topnav a {
    float: left;
    color: rgb(227,11,92)
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: rgb(212,175,0);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(240,240,240)
    color: white;
  }

.sidebar {
    height: 800px;
    width: 150px;
    position: -webkit-sticky;
    position: sticky;
    float: left;
    left: 5;
    top: 0;
    padding-top: 60px;
    background-color: rgb(192,225,189)
    }

    .sidebar div {
    padding: 8px;
    font-size: 16px;
    display: block;
    }
    
    .body-text {
    margin-left: 160px;
    font-size: 16px;
    }

    .container {
  position: relative;
  width: 50%;
}

#topline {
  color: rgb(0,0,0);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }